<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>fraud or not.</title>
    <meta name="description" content="Recommendation">
    <meta name="author" content="Your Name">

    <style>
        body {  margin: 45px;
                background-image: url('https://www.securitymagazine.com/ext/resources/images/fraud-freepik-2.jpg?1629376018');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
            }
    </style>

</head>

<body>
    <h1> Live API </h1>

    

</body>

</html>