<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>fraud or not.</title>
    <meta name="description" content="Recommendation">
    <meta name="author" content="Your Name">

    <style>
        body {  margin: 45px;
                background-image: url('https://www.securitymagazine.com/ext/resources/images/fraud-freepik-2.jpg?1629376018');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-position: right;
                background-size: 900px 700px;
                background-color: rgb(190, 189, 189) ;
            }
    </style>

</head>

<body>
    <h1>  Fraud or not? </h1>

    <div class="row">
        <p><strong>Upload a CSV File</strong></p>
        <p>Your file should contain correct contents for risk prediction</p>
    </div>

    <form action="/">
        <button type="submit"> Home </button>
    </form>
    
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="user_csv"></p>
      <p><input type="submit" value="Submit"></p>
    </form>

</body>

</html>